<html>
<body>
	<h1>Login</h1>
    {% if error %}
    <h1> Invalid E-mail or Password. Try Again! </h1>
    {% endif %}
	<form action="" method="post" accept-charset="utf-8">{% csrf_token %}</br>
    	<label for="email">Email:</label><input type="text" value="{{email}}" name="email" id="email" /></br>
    	<label for="password">Password:</label><input type="password" value="{{password}}" name="password" id="password" /></br>
    <p><input type="submit" value="Login"></p>
    </form>
</body>
</html>